.home-page {
    position: absolute;
    left: 0;
    top: 15%;
    // transform: translateY(-50%);
    width: 100%;
    .text-zone {
        padding: 70px;
        background-image: url("../../assets/images/bg_image_home_page.jpeg");
        opacity: 0.8;
        color: white;

    }

    .primary-color{
        color: #007E85;
    }

}