/*.Button{
    background-color: #42c2c2;
    // transform: translateY(10%);
        //margin-top: 10px; 
//padding: 1px;
top: 8px;
//left: 2px;
        //border: 1px solid #007E85;
width: 70px; 
height: 25px;
font-size: 8px;
       // margin-left: 5px;
position: absolute;
border-radius: 10px ;
text-align: center;
font-size: 33px;

}*/
.button-container {
        display: flex;
       // flex: 1%;
        align-items: center; // Vertically align buttons
        justify-content: space-between; // Horizontally align with spacing
        //margin: 0;
        margin-left: 35px;
        margin-top: 10px;
        
      }
.Button1 {
        background-color: #1ea5ac;
        color: #080808;
        font-size: 11px;
        width:70px ;
        height: 25px;
        //padding: 10px 20px;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        //border: 1px solid #ddd;
        border-radius: 10px;
        transition-duration: 0.4s;
      
    
      
      
      }
      .Button1:hover {
        background-color: #0b6e74; 
        
      }


.Button2 {
        background-color: #dd5555;
        color: #080808;
        font-size: 11px;
        width:70px ;
        height: 25px;
        //padding: 10px 20px;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        //border: 1px solid #ddd;
        border-radius: 10px;
        margin-left: 20px;
      
}
.Button2:hover {
        background-color: #cf3535; 
        
      }
      