@import '~@fortawesome/fontawesome-free/css/all.min.css';


.containerForm1 {
    position: absolute;
    left: 0;
    top: 5%;
    // width: 100%;
    //background-image: url("../../../assets/images/choix_type_compte.png");
   
    height: 480px;
    width: 100%; 
    //border: 2px solid black;
    
}