*{
    box-sizing: border-box;
}


.nav-bar {
    // background: #ABABAB; // a retirer !
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    // min-height: 500px;

    .logo {
        display: inline-block;
        padding: 8px;
        margin-left: 20px;
    }

    img{
        // display: inline-block;
        margin: 15x auto;
        height: 24px;
        width: auto;
    }

    .company-name{
        color: #007E85;
        font-weight: 600;
        width: fit-content;
        font-size: 26px;
    }

    nav {
        position: absolute;
        display: flex;
        top: 0;
        left: 20%;
        height: 60px;
        width: 80%;
        // background: #000;
        // border: 3px solid red;
        justify-content: space-between;
        align-items: center;
        // color: #007E85;
        // margin-right: 20px;

        .connexion{
            display: flex;
            // border: 3px solid greenyellow;
            width: 25%;
            justify-content: space-around;
        }


        .home, .create-account, .login{
            color: #007E85;

        }


        .login{
            background-color: #007E85;
            color: white;
            // border: 5px solid #007E85;
            border-radius: 5px;
            padding: 5px 10px;
        }
    } 
    
}