html {
  font-size: 100%;
}

body {
  margin: 0;
  font: 300 16px/1.4 'Helvetica Neue', 'sans-serif';
  color: #000;
  background: #ececec;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="button"]{
  background-color: #007E85;
  color: white;
  border: 5px solid #007E85;
  border-radius: 5px;
  padding: 5px 10px;
}

.logo {
  display: inline-block;
  padding: 8px;
  margin-left: 20px;

  img{
    display: inline-block;
    margin: 15x auto;
    height: 24px;
    width: auto;
  }

}

.social-networks img{
  display: inline-block;
  margin: 15x auto;
  height: 13px;
  width: 15px;
}




