.button-containerClient {
    display: flex;
   // flex: 1%;
    align-items: center; // Vertically align buttons
    justify-content: space-between; // Horizontally align with spacing
    //margin: 0;
    //margin-left: 25px;
    //margin-top: 1000px;
    
  }
.ButtonC {
    position: absolute;
    top: 150px;
    left: 10%;
    background-color: #d8d6d6;
    color: #302f2f;
    font-size: 14px;
    width:250px ;
    height: 45px;
    //padding: 10px 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    //border: 1px solid #ddd;
    border-radius: 10px;
    transition-duration: 0.4s;
  

  
  
  }

.ButtonC:hover {
    background-color: #8b8a8a; 
    
  }