@import '~@fortawesome/fontawesome-free/css/all.min.css';


.containerFormC {
    position: absolute;
    left: 0;
    top: 5%;
    display: flex;
    height: 480px;
    width: 100%; 
    .blocC{
    background-color: #007E85;
    margin-top: 50px; 
    padding: 400px;
    border: 1px solid #007E85;
    width: 156%; 
    ul li a {
        text-decoration: none; 
        color :#ffffff
    }
    ul li i {
        margin-right: 100px; 
    }
    }

    .bloc1C{
        display: flex;
        background-color: #f2f2f2;
        padding: 392px;
        top: 120px;
        //border: 1px solid #007E85;
        width:98%; ; 
        margin-left: 20px;
        position: absolute;
        border-top-left-radius: 45px; /* Coin supérieur gauche arrondi */
        border-bottom-left-radius: 45px;

        .font-weight-bold {
            position: absolute;
            top: 30px;
            margin-right: 200px; /* Ajoute une marge à droite des icônes */
            font-size: 20px;
          }
        .fontC{
            display: flex;
            justify-content: space-between;
        }
        .fontBellC{
            position: absolute;
            font-size: 20px;
            top: 50px;
            left: 87%;
            color: #353536;
        }
        .bloc3{
        
            background-color:none ;
        
            padding: 20px;
            top: 40px;
            left: 90%;
            border: 1px solid #8d8f8f;
            width: 120px; 
           // margin-left: 5px;
            position: absolute;
            border-radius: 10px;

            .userC{
                position: absolute;
                font-size: 20px;
                top: 10px;
                left: 15%;
                color: #353536;
            }
            .profil{
                position: absolute;
                border-radius: 100%;
                top: 3px;
                left: 40%;
                width: 30%;
                background-color: #6578ce;
                text-align: center;
                h2{
                    font-size: 11px;
                    color: #FFFFFF;
                }
            }
            .down{
                color: #686868;
                position: absolute;
                font-size: 16px;
                top: 6px;
                left: 85%;
            }
        }

        
        .searchC{
            position: absolute;
            font-size: 14px;
            top: 62px;
            left: 46%;
            color: #686868;
        }

        
    }
    .bloc1C .bloc5C {
        position: absolute;
        background-color:  #ffffff; 
        padding: 145px; /* Espacement intérieur */
        top: 475px;
        border-radius: 8px; 
        left: 50px;
        width: 50%;
        //display: flex; 

        h2{
            position: absolute;
            top: 20px;
            left: 15px;
        }
        .Name1C{
            position: absolute; 
            top: 150px; 
            left: 30px; 
            margin-right: 10px;
            color: rgb(0, 0, 0);
            background-color: #070707;
            h3{
                position: absolute;
                top: 0;
                left: 70px;
                width: 200px;
                font-size: 16px;
                h5{
                    position: absolute;
                    top: 3px;
                    left: 0;
                    width: 20px;
                    font-size: 10px; 
                    font-family: poppins;
                    color: #0000FF;
                }

            }
         
        }
        .Time1C{
            width: fit-content;
            position: absolute;
            top: 150px;
            left: 280px;
            margin-right: 20px;
            color: rgb(0, 0, 0);
            background-color: #84bcbf;
            display: flex; /* Enable flexbox for horizontal alignment */
            align-items: center;
           
            
        }
       
        .Name2C{
            position: absolute;
            top: 90px;
            left: 30px;
            margin-right: 20px;
            color: rgb(0, 0, 0);
            background-color: #84bcbf;
            h3{
                position: absolute;
                top: 0;
                left: 70px;
                width: 200px;
                font-size: 16px;
                h5{
                    position: absolute;
                    top: 3px;
                    left: 0;
                    width: 20px;
                    font-size: 10px; 
                    font-family: poppins;
                    color: #F62088;
                }
            }
        }
        .Time2C{
            position: absolute;
            top: 90px;
            left: 280px;
            margin-right: 20px;
            color: rgb(0, 0, 0);
            //background-color: #84bcbf;
            //border: 3px solid red;
            width: fit-content;


           
            
        }

        .Name3C{
            position: absolute;
            top: 210px;
            left: 30px;
            margin-right: 20px;
            color: rgb(0, 0, 0);
            background-color: #bf8487;
            h3{
                position: absolute;
                top:0;
                left: 70px;
                width: 200px;
                font-size: 16px;
                h5{
                    position: absolute;
                    top: 3px;
                    left: 0;
                    width: 20px;
                    font-size: 10px; 
                    font-family: poppins;
                    color: #128983;
                }
                
            }
        }
        .Time3C{
            position: absolute;
            top: 210px;
            left: 280px;
            margin-right: 20px;
            color: rgb(0, 0, 0);
            background-color: #84bcbf;
            //border: 2px solid red;
           
            
        }
      }
      

    
    .search-barC {
        position: absolute; 
        top: 50px; 
        left: 50px; 
        width: 550px; 
        padding: 10px; 
        border: 0.5px #ccc; 
        border-radius: 10px; 
        margin-bottom: 20px; 
        background-color: #d8d6d6;
      }
      .bloc2C{
        display: flex;
        padding: 130px;
        top: 315px;
        //border: 1px solid #007E85;
        width: 550px; 
        margin-left: 60px;
        position: absolute;
        border-radius: 20px; 
        display: flex;
        justify-content: space-between;

        
        h2 {
            position: absolute;
            top: 10px;
            left: 10px;
        }
        img{
            position: absolute;
            width: 250px;
            height: 260px;
        
            left: 300px;
            top: 0;
            object-fit: contain;
           
        }
        h1{
            font-family: Arial, sans-serif; // exemple de style de police
            font-size: 20px;
            position: absolute;
            top: 300px; ;
            left: 600px;
            width: 300px;
            color: #23262F;
            
        }
   








        .bloc3C{
        
            background-color: #84bcbf;
        // transform: translateY(10%);
            //margin-top: 10px; 
            padding: 40px;
            top: 170px;
            left: 10px;
            //border: 1px solid #007E85;
            width: 180px; 
           // margin-left: 5px;
            position: absolute;
            border-radius: 20px; 

            h2{
                position: absolute;
                top: 2px;
                font-size: 18px;
                span{
                    font-size: 30px;
                    margin-left: 8px;

                }

            }
            }
            
        .bloc4C{
        
            background-color: #84bcbf;
        // transform: translateY(10%);
            //margin-top: 10px; 
            padding: 40px;
            top: 170px;
            left: 200px;
            //border: 1px solid #007E85;
            width: 180px; 
           // margin-left: 5px;
            position: absolute;
            border-radius: 20px; 
            h2{
                position: absolute;
                top: 2px;
                font-size: 18px;
                span{
                    font-size: 30px;
                    margin-left: 8px;

                }


            }
            
           }
    
   

}



    .text-zoneC{
        padding: 15px;
        color: #ffffff;
    }
    .main-headingC{
        
        color: #007E85;
        font-size: 30px

        
    }
    .sub-headingC {
        position: absolute;
        top: 80px;
        color: 50514F;
        font-size: 50px;
        left: 50px;

        .primaryC {
            color: #007E85;
        }

    }

    ul {
        position: absolute;
        left: 1px; 
        top: 100%; 
        transform: translateY(-50%);
        
        list-style: none;
        
    }
    
    
    
    li {
        top: 100%;
        //margin-right: 100px;
        margin-bottom: 40px; 
       
    }
 
    
      
      .nav-link .icon {
        font-size: 20px; 
      }

  

    
    



}