.TimeBlocClient{
   
    background-color: #fdbddc;
    top: 10px;
    max-width: 400px;
    left: 10px;
    //border: 1px solid #007E85;
    width: 260px; 
    height: 25px;
    font-size: 8px;
           // margin-left: 5px;
    position: absolute;
    border-radius: 10px ;
    text-align: center;
    font-size: 13px;
    p{
        margin-top: 6px;
        color: #F62088;
       // width: fit-content;
    }
}

/*
@mixin contenu-adaptable {
    width: 100%;
    display: flex;
    justify-content: center;
  }*/